.about-us {
  @include page-borders-left-right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us {
  min-height: 80vh;

  @include adaptive-property(padding-right, 35%, 25%, 1.5rem);

  h1 {
    line-height: map-get($base, font-size-h1-xl);

    @include media-breakpoint-down(lg) {
      line-height: map-get($base, font-size-h1-lg);
    }
  }
}