.choir-conducting {
    @include page-borders-left-right;
    @include page-borders-top-bottom;

    img {
        border-radius: 50%;
    }

    .cell {
    
        @include adaptive-property(padding,
            map-get($spacers, 5),
            map-get($spacers, 3),
            map-get($spacers, 1));
        
        > p {
            color: #a2a2a2;
            strong {
                color: #535353;
                font-size: 125%
            }
        }
    }

    p {
        text-align: center;
    }

    blockquote p {
        @include adaptive-property(font-size,
            map-get($base, font-size-xl),
            map-get($base, font-size-lg),
            map-get($base, font-size));
        font-weight: 600;
        color: #010101;
    }
}