@import 'font-sizes';
@import 'page-borders';
@import 'gradient';
@import 'about-us';
@import 'about-us-1';
@import 'upcoming-events';
@import 'sing-with-us';
@import 'choir-conducting';
/* start custom scss snippet */

@media (min-width: 500px) {
    .article__header--overlay .overlay {
        min-height: 70rem
    }
}

/*
header overlay background (100% opacity)
*/
.header {
    background: rgba(0, 0, 0, 0)
}

.main {
    margin: unset;
    padding: unset;
    max-width: unset
}

/* header bar size */
.header__title {
    flex-grow: 0;
    height: 10rem;
    margin: 4rem;
}

.header__title.right {
    margin-right: unset;
}

.header__title.right .logo {
    background-image: url("/assets/images/logo-mannheimer-liedertafel.svg");
    background-position: -180px 0px;
    width: 200px;
    height: 200px;
}

nav {
    flex-grow: 1;
    align-self: center
}

.navigation>ul {
    justify-content: space-between;
    margin-bottom: 4rem;
}

.navigation>ul>li>a {
    font-weight: bold;
    font-size: 1.75rem;
}

/** TODO h1 shadow/glow effect */
.article__header h1 {
    text-shadow: #2d2929 0.1rem 0.1rem
}

/* end custom scss snippet */