/*
header overlay background (100% opacity)
*/

.header {
    background: rgba(0, 0, 0, 0);

    nav {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .main {
        margin: unset;
        padding: unset;
        max-width: unset;
        @include media-breakpoint-down(md) {
            flex-direction: row;
        }
    }
}

.header__title {
    height: unset;
    @include adaptive-property(margin, 2rem 1rem, 1rem 0.5rem, 1rem 0);
}

.header__title.left .header__brand {
    justify-content: start;
    height: unset;
    img {
        width: 100%;
    }
}

.header__title.right {

    .header__brand {
        justify-content: end;
        height: 100%;
        width: 100%;
        padding: 1rem
    }

    a {
        height: 100%;
        width: 73%;
    }

    .logo {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .logo.dark {
        background-image: url("/assets/images/logo-mannheimer-liedertafel.svg");
    }
    .logo.light {
        background-image: url("/assets/images/logo-mannheimer-liedertafel_light.svg");
    }
}

nav {
    flex-grow: 0.5;
    align-self: center
}

.navigation>ul {
    justify-content: space-between;
    @include adaptive-property(margin-bottom, 4rem, 2rem, 1rem);
}

.navigation>ul>li>a {
    font-weight: bold;
    @include adaptive-property-xl(font-size,
        map-get($base, font-size-h4-xl),
        map-get($base, font-size-h4-lg),
        map-get($base, font-size-h4-sm),
        map-get($base, font-size-h4-xs));

    @include media-breakpoint-down(md, (md: 850px)) {
        font-size: map-get($base, font-size-h4-xs);    
    }
}

/** h1 shadow/glow effect */
.hero__content {
    h1,p {
        text-shadow: #535353 0.1rem 0.1rem
    }
}

.scroll-button {
    display: none;
}


@include media-breakpoint-down(md) {
    .scroll-button {
        display: inline-flex;
        position: fixed;
        bottom: map-get($spacers, 3);
        right: map-get($spacers, 3);
        height: 3rem;
        width: 3rem;
        padding: 0.75rem;
        background-color: #ff7319cc;
    }

    .scroll-button-hidden {
        opacity: 0;
        transition: opacity 0.5s linear;
    }
}