.impressions {
    background-color: #f4f1eb;
    box-shadow: 0px 4px 6px 0px #222;
    .cell {
        @include adaptive-property(
            padding,
            map-get($spacers, 5),
            map-get($spacers, 3),
            map-get($spacers, 3));
    }
    .cell:has(> h1) {
        padding-bottom: 0;
    }
}

.youtube-overlay {
    position: relative;
    display: inline-block;

    img {
        display: block;
        border-radius: 1rem;
    }

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($select-color, 0.25);
        pointer-events: none;
        border-radius: 1rem;
    }

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
    }
}