@mixin page-borders() {
    padding-left: map-get($spacers, 5) * 2;
    padding-right: map-get($spacers, 5) * 2;

    @include media-breakpoint-down(lg) {
        padding-left: map-get($spacers, 5);
        padding-right: map-get($spacers, 5);
    }

    @include media-breakpoint-down(md) {
        padding-left: map-get($spacers, 4);
        padding-right: map-get($spacers, 4);
    }
}