.upcoming-events {

    background-color: #f4f1eb;

    @include page-borders-left-right;
    @include page-borders-top-and-bottom;

    .cell {

        padding-left: map-get($spacers, 5);
        padding-right: map-get($spacers, 5);

        @include media-breakpoint-down(lg) {
            padding-left: map-get($spacers, 3);
            padding-right: map-get($spacers, 3);
        }
    
        @include media-breakpoint-down(md) {
            padding-left: map-get($spacers, 5);
            padding-right: map-get($spacers, 5);
        }
    
    }

    img {
        margin-top: map-get($spacers, 5);
        margin-bottom: map-get($spacers, 5);
        @include media-breakpoint-down(lg) {
            margin-top: map-get($spacers, 3);
            margin-bottom: map-get($spacers, 3);
        }
    
        @include media-breakpoint-down(md) {
            margin-top: map-get($spacers, 1);
            margin-bottom: map-get($spacers, 1);
        }
    }
}